<div class="row header-container" id="header-expanded">
    <div class="col-4 left-header-container" id="left-header-container">
        <a class="header-link" href="/projects">Projects</a>
		<a class="header-link" href="/experience">Experience</a>
	</div>
    <div class="col-4">
        <a class="header-link" href="/"><h1 class="name font-weight-bold">ENES DEMİRAĞ</h1></a>
    </div>
    <div class="col-4 right-header-container">
		<a class="header-link" href="/blog">Blog</a>
        <a class="header-link" href="/about">About</a>
        <!--<a class="header-link" href="/resume.pdf">Resume</a>-->
    </div>
</div>

<nav class="navbar navbar-light bg-none header-container justify-content-center" id="header-collapsed">
		<a class="header-link" href="/"><h1 class="name-small font-weight-bold">ENES DEMİRAĞ</h1></a><br>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mx-auto text-center" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="/projects">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/experience">Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<!--<li class="nav-item">
					<a class="nav-link" href="/resume.pdf">Resume</a>
				</li>-->
			</ul>
		</div>
	</nav>