<div id="sidebar-small">
        <div class="sidebar-section-links">
            <a class="sidebar-section-link" href="/">Home</a>
            <a class="sidebar-section-link" href="/blog/">Blog</a>
        </div>
    </div>
<div class="sidebar-container" id="sidebar">
    <div class="sidebar">
        <a href="/"><h1 class="font-weight-bold">Enes Demirağ</h1></a>
        <div class="sidebar-section-links font-weight-bold">
            <a class="sidebar-section-link" href="/projects">Projects</a><br>
            <a class="sidebar-section-link" href="/experience">Experience</a><br>
            <a class="sidebar-section-link" href="/blog/">Blog</a><br>
            <a class="sidebar-section-link" href="/about">About</a><br>
        </div><br>
        <!-- {% if page.links %}
            <div class="related-posts">
                <h3 class="font-weight-bold">Related Links</h3>
                {% for link in page.links %}
                    <a target="_blank" class="font-weight-bold" href="{{ link.url }}">{{ link.desc }}</a><br>
                {% endfor %}
            </div>
        {% endif %} -->
    </div>
</div>