* {
	font-family: Roboto;
	color: $main-font-color;
}

body {
	padding: 0 2vw 0 2vw;
}

hr {
	margin-bottom: 8vh !important;
}

.item-container {
	margin-bottom: 20vh;

	a {
		display: inline-block;
		vertical-align: top;
    }

    a:hover {
        text-decoration: none;
    }
}

.row {
	text-align: center;
}