.contact-buttons a {
    margin: 2px 5px;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 15px;
    padding: 3px;
    background-color: #FFF;
    box-shadow: 0px 0px 4px 1px $item-shadow-color;
    border-radius: 2px;
}