.header-container {
    margin-top: 8vh;
    margin-bottom: 4vh;
}

.header-link {
    color: $main-font-color;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}

.header-link:hover {
    text-decoration: none;
    color: $hover-font-color;
}

.left-header-container {
    text-align: right;
    margin-top: 55px;
}

.name {
	font-size: 60px;
    text-align: center;
}

.right-header-container {
    text-align: left;
    margin-top: 55px;
}
